@media (max-width: 800px) {
  .container {
    padding: 20px;
    width: 100vw;
    height: 100dvh;
  }

  nav {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    left: 0;
    align-items: end;
  }

  nav .link {
    flex-direction: row;
    margin-bottom: 20px;
  }

  nav .link i {
    font-size: 20px;
  }

  .About {
    text-align: start;
    color: #eaeaea;
    animation: fadeIn 2s ease;
  }

  .About h2 {
    font-size: 12px;
    margin: 0;
  }

  .About p {
    animation: slideUp 1s ease;
    color: #cfcfcf;
    font-size: 12px;
  }

  .Contact img {
    width: 120px;
    animation: slide 1s ease;
  }

  .Contact .links {
    font-size: 4px;
    animation: fadeIn 1s ease;
  }
  .Contact .links a {
    font-size: 14px;
  }


}
