@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Delius", cursive;
  background-color: #000;
  color: #e0e0e0;
  min-height: 100dvh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
